.header {
    /* Стили для основного блока header */
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    font-size: 18px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: #FFFFFF;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    /* Стили для блока с логотипом */
}






